{% if site.enableTags ==  true %} 
	<div id="tag-filter" class="col-md-12 col-xs-12 tag-group">
		<button class="label tag-filter tag-cloud all">Reset</button>
        {% assign tagarray = site.tagarray %}
        {% for project in site.data.projects %}
            {% for tag in project.tags %}
                {% assign tagarray = tagarray | push: tag %}
            {% endfor %}
        {% endfor %}

        {% assign tags = "" %}
        {% for item in tagarray %}
            {% assign tagDown = item | append: "|" %}
            {% unless tags contains tagDown %}
                {% capture tags %}{{ tags }}{{ item }}|{% endcapture %}
            {% endunless %}
        {% endfor %}

        {% assign taglist = tags | split: '|' | sort %}
        {% for tag in taglist %}
            <button class="label tag-filter tag-cloud" data-tag="{{ tag | downcase }}" aria-pressed="false">{{ tag }}</button>
        {% endfor %}
	</div>
{% endif %}
